<!DOCTYPE html>
<html>
<head>
<style>
th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1>Attendance Records</h1>

<a href='/attendance/add/'>Add New Record</a>
<table>
    <tr>
        <th>Date</th>
        <th>Student</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Action</th>
    <tr>
    {% for a in attendance  %}
    <tr>
        <td>
            {{a.date_of_attendance}}
        </td>
        <td>
            {{a.student}}
        </td>
        <td>
            {% if a.status %}
            present 
            {% else %}
            absent 
            {% endif %}
        </td>
        <td>
            {{a.remarks}}
        </td>
        <td>
            <a href='/attendance/update/{{a.id}}'>Edit</a>
            <a href='/attendance/delete/{{a.id}}'>Delete</a>
        </td>
    <tr>
    {% endfor %}
</table>

</body>